@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.woff2") format("woff2"),
       url("/fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Bold.woff2") format("woff2"),
       url("/fonts/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  --color-primary: #ebbbff;
  --color-secondary: #d1f1a9;
  --color-tertiary: #fff;
  --color-link: #ff9da4;
  --color-list: #99ffff;
  --color-highlight: #003f8e;
  --color-background: #002451;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fira Code";
  background-color: var(--color-background);
}
h1 {
  color: var(--color-primary);
}
h2 {
  color: var(--color-tertiary);
  font-size: 1.75em;
}
h2 > a {
  text-decoration: none;
}
h3 {
  color: var(--color-secondary);
}
p {
  color: var(--color-secondary);
  font-size: 1.5em;
  line-height: 1.4;
}
a, a:visited {
  color: var(--color-link);
}
hr {
  border: 0;
  border-top: 3px solid var(--color-secondary);
  margin: 20px 0;
}
button {
  all: unset;
  color: var(--color-secondary);
  cursor: pointer;
  position: relative;
}
button:hover, 
button:hover mark {
  color: var(--color-tertiary);
}
button:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 1px;
  z-index: 3000;
}
mark {
  background-color: var(--color-highlight);
  box-shadow: -4px 0 0 var(--color-highlight), 4px 0 0 var(--color-highlight);
  color: var(--color-secondary);
}
nav {
  text-align: end;
  width: 25%;
  font-size: 2em;
  flex-grow: 0;
  flex-shrink: 0;
}
.main-header {
  margin-left: 25%;
  width: 50%;
  text-align: end;
  margin-top: 15vh;
  margin-bottom: 50px;
}
.main-container {
  display: flex;
  margin-bottom: 50px;
}
.tab-indicator {
  width: 20px;
  border-bottom: 3px solid var(--color-secondary);
  margin-left: 20px;
  height: 3px;
  will-change: transform;
  transition: transform 0.3s ease;
}
.content-container {
  border-left: 3px solid var(--color-secondary);
  padding-left: 16px;
  padding-bottom: 20px;
  width: calc(50% - 36px);
  flex-grow: 0;
  flex-shrink: 0;
  transition: height 0.3s ease;
}
.content-container > p {
  margin-bottom: 20px;
}
.content-container > h2 {
  margin-bottom: 10px;
}
.content-container > ul {
  list-style-type: none;
  margin-left: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.content-container > ul > li {
  color: var(--color-list);
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-right: 2px solid var(--color-list);
}
.content-container > ul > li:last-child {
  border: none;
}
@media (max-width: 768px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  hr {
    margin: 15px 0;
    border-top: 2px dashed var(--color-secondary);
  }
  button:hover, 
  button:hover mark {
    color: var(--color-secondary);
  }
  .main-header {
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    position: fixed;
    background-color: var(--color-background);
  }
  nav {
    text-align: left;
    width: 100%;
    font-size: 1.5em;
    border-bottom: 3px solid var(--color-secondary);
    padding-bottom: 10px;
    position: sticky;
    top: 90px;
    background-color: var(--color-background);
  }
  nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  nav > ul > li {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-right: 2px solid var(--color-secondary)
  }
  nav > ul > li:last-child {
    border: none;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .content-container {
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    margin-top: 90px;
    border: none;
  }
  .content-container > ul {
    margin-left: 0;
    padding-left: 0;
  }
  .content-container > ul > li {
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-right: 1px solid var(--color-list);
  }
}